.App {
  text-align: center;
}

.nav{
  background-color:Black;
  
}

.nav-link{
  color: white;
}

.flex-box{
  display:flex;
  flex-wrap:wrap;
}

.flex-items {
  padding: 5px;
  margin-left: 100px;
  margin-bottom: 10px;
  
}

