.flex-box{
    display:flex;
    flex-wrap:wrap;
  }

  .flex-items {
    padding: 20px;
    margin-left: 100px;
    margin-bottom: 10px;
    width:400;
    height:250;
    
  }

  .jumbotron{
    padding: 20px;
    margin-left: 100px;
    margin-bottom: 10px;
    background: skyblue;
  }

  